<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Видео и Метаданные</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .disabled {
        background-color: rgba(75, 85, 99, 0.5);
        color: rgba(255, 255, 255, 0.5);
        cursor: not-allowed;
      }

      .metadata-container {
        max-height: 400px;
        overflow-y: auto;
      }

      .spinner {
        display: none;
        border: 4px solid rgba(255, 255, 255, 0.2);
        border-top: 4px solid rgba(255, 255, 255, 1);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      .notification {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: rgba(34, 197, 94, 0.9);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        opacity: 0;
        transition: opacity 0.5s ease;
      }
    </style>
  </head>
  <body class="bg-gray-900 text-white">
    <div class="container mx-auto py-8">
      <h1 class="text-3xl font-bold text-center mb-12 text-gray-400">
        Система детектирования подмены видеопотока при помощи машинного обучения
      </h1>

      <div class="flex flex-col md:flex-row justify-between gap-2">
        <div class="bg-green-800 p-4 rounded-lg shadow-lg w-2/5">
          <form
            id="upload-form1"
            enctype="multipart/form-data"
            class="flex flex-row gap-2 h-12 justify-around"
          >
            <input
              type="file"
              id="video-upload1"
              name="video"
              accept="video/mp4"
              class="border border-gray-700 rounded-md p-2 bg-gray-800 text-white"
            />
            <button
              type="submit"
              class="bg-green-600 text-white p-2 rounded-md hover:bg-green-700 disabled"
              disabled
            >
              Загрузить оригинал
            </button>
          </form>
          <div id="metadata-button-container1" class="mt-4 hidden">
            <span class="text-white">Метаданные: </span>
            <button
              id="generate-metadata1"
              class="bg-gray-600 text-white py-2 px-4 rounded-md hover:bg-gray-700 ml-2 disabled"
              disabled
            >
              Сгенерировать новые
            </button>
            <button
              id="load-existing1"
              class="bg-gray-600 text-white py-2 px-4 rounded-md hover:bg-gray-700 ml-2 disabled"
              disabled
            >
              Загрузить существующие
            </button>
          </div>
          <video
            id="video-player1"
            controls
            class="mt-4 hidden rounded-md shadow-md"
          >
            <source id="video-source1" type="video/mp4" />
            Ваш браузер не поддерживает видео.
          </video>
          <div
            id="metadata-container1"
            class="metadata-container bg-gray-800 rounded-lg shadow-md p-4 mt-4 hidden"
          >
            <h2 class="text-xl font-semibold text-white">Метаданные Видео 1</h2>
            <a
              id="metadata-download1"
              class="text-blue-400 underline mt-2 hidden"
              >Скачать метаданные (JSON)</a
            >
            <div id="metadata-content1" class="mt-2 text-gray-300"></div>
          </div>
        </div>
        <div class="w-1/5 flex flex-col justify-center items-center gap-4">
          <div class="spinner" id="spinner" role="status"></div>
          <p
            id="upload-instruction"
            class="bg-gray-800 p-4 rounded-md text-gray-400 shadow-md text-center"
          >
            Загрузите или сгенерируйте метаданные для обоих видео
          </p>
          <button
            id="analyze-button"
            class="bg-blue-600 text-white py-2 px-4 mt-4 rounded-md hover:bg-blue-700 hidden"
          >
            Проанализировать
          </button>
          <div
            id="discrepancies-content"
            class="flex flex-col gap-4 items-center text-gray-300 bg-gray-800 p-4 rounded-md shadow-md w-full hidden"
            style="max-height: 700px; overflow-y: scroll;"
          ></div>
        </div>
        <div class="bg-red-900 p-4 rounded-lg shadow-lg w-2/5">
          <form
            id="upload-form2"
            enctype="multipart/form-data"
            class="flex flex-row justify-around"
          >
            <input
              type="file"
              id="video-upload2"
              name="video"
              accept="video/mp4"
              class="border border-gray-700 rounded-md p-2 bg-gray-800 text-white"
            />
            <button
              type="submit"
              class="bg-red-600 text-white p-2 rounded-md hover:bg-red-700 disabled"
              disabled
            >
              Загрузить проверяемое
            </button>
          </form>
          <div id="metadata-button-container2" class="mt-4 hidden">
            <span class="text-white">Метаданные: </span>
            <button
              id="generate-metadata2"
              class="bg-gray-600 text-white py-2 px-4 rounded-md hover:bg-gray-700 ml-2 disabled"
              disabled
            >
              Сгенерировать новые
            </button>
            <button
              id="load-existing2"
              class="bg-gray-600 text-white py-2 px-4 rounded-md hover:bg-gray-700 ml-2 disabled"
              disabled
            >
              Загрузить существующие
            </button>
          </div>
          <video
            id="video-player2"
            controls
            class="mt-4 hidden rounded-md shadow-md"
          >
            <source id="video-source2" type="video/mp4" />
            Ваш браузер не поддерживает видео.
          </video>
          <div
            id="metadata-container2"
            class="metadata-container bg-gray-800 rounded-lg shadow-md p-4 mt-4 hidden"
          >
            <h2 class="text-xl font-semibold text-white">Метаданные Видео 2</h2>
            <a
              id="metadata-download2"
              class="text-blue-400 underline mt-2 hidden"
              >Скачать метаданные (JSON)</a
            >
            <div id="metadata-content2" class="mt-2 text-gray-300"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="notification" class="notification"></div>

    <script>
      const analyzeButton = document.getElementById("analyze-button");
      const uploadInstruction = document.getElementById("upload-instruction");

      const uploadForms = [
        document.getElementById("upload-form1"),
        document.getElementById("upload-form2"),
      ];
      const videoUploads = [
        document.getElementById("video-upload1"),
        document.getElementById("video-upload2"),
      ];
      const uploadButtons = [
        uploadForms[0].querySelector('button[type="submit"]'),
        uploadForms[1].querySelector('button[type="submit"]'),
      ];
      const metadataButtonContainers = [
        document.getElementById("metadata-button-container1"),
        document.getElementById("metadata-button-container2"),
      ];
      const generateButtons = [
        document.getElementById("generate-metadata1"),
        document.getElementById("generate-metadata2"),
      ];
      const loadExistingButtons = [
        document.getElementById("load-existing1"),
        document.getElementById("load-existing2"),
      ];
      const videoPlayers = [
        document.getElementById("video-player1"),
        document.getElementById("video-player2"),
      ];
      const videoSources = [
        document.getElementById("video-source1"),
        document.getElementById("video-source2"),
      ];
      const metadataContainers = [
        document.getElementById("metadata-container1"),
        document.getElementById("metadata-container2"),
      ];
      const metadataContents = [
        document.getElementById("metadata-content1"),
        document.getElementById("metadata-content2"),
      ];
      const metadataDownloads = [
        document.getElementById("metadata-download1"),
        document.getElementById("metadata-download2"),
      ];
      const spinner = document.getElementById("spinner");
      const notification = document.getElementById("notification");
      const discrepanciesContent = document.getElementById(
        "discrepancies-content"
      );

      let metadata = [null, null];
      let metadataFileNames = [null, null];
      let metadataLoadedStatus = [false, false];
      let discrepancies = null;

      function checkBothVideosUploaded() {
        if (metadataLoadedStatus.every((status) => status)) {
          analyzeButton.classList.remove("hidden");
          uploadInstruction.classList.add("hidden");
        }
      }

      function toggleUploadButton(index) {
        const fileInput = videoUploads[index];
        uploadButtons[index].disabled = !fileInput.files.length;
        if (fileInput.files.length) {
          uploadButtons[index].classList.remove("disabled");
          uploadButtons[index].disabled = false;
        } else {
          uploadButtons[index].classList.add("disabled");
          uploadButtons[index].disabled = true;
        }
      }

      videoUploads.forEach((input, index) => {
        input.addEventListener("change", () => toggleUploadButton(index));
      });

      uploadForms.forEach((form, index) => {
        form.addEventListener("submit", async (event) => {
          event.preventDefault();
          const formData = new FormData(form);
          spinner.style.display = "block";

          const response = await fetch("/upload", {
            method: "POST",
            body: formData,
          });
          spinner.style.display = "none";

          if (response.ok) {
            const data = await response.json();
            console.log(data);

            videoSources[index].src = data["video_path"];
            videoPlayers[index].classList.remove("hidden");
            videoPlayers[index].load();
            metadataButtonContainers[index].classList.remove("hidden");

            generateButtons[index].disabled = false;
            generateButtons[index].classList.remove("disabled");

            loadExistingButtons[index].disabled = !data["metadata_exists"];
            loadExistingButtons[index].classList.toggle(
              "disabled",
              !data["metadata_exists"]
            );

            showNotification("Видео успешно загружено!");

            // Сохраните имя файла для использования в дальнейшем
            const videoFileName = formData.get("video").name;
            generateButtons[index].dataset.fileName = videoFileName; // сохраняем имя файла в data-атрибуте
            loadExistingButtons[index].dataset.fileName = videoFileName; // сохраняем имя файла в data-атрибуте
          } else {
            console.error("Ошибка при загрузке видео.");
          }
        });
      });

      const showDiscrepancies = (message) => {
        discrepanciesContent.classList.remove("hidden");
        discrepanciesContent.innerHTML = "";
        videoPlayers.forEach((videoPlayer, index) => {
          videoPlayer.currentTime = 0;
          videoPlayer.play();
        });
      };

      analyzeButton.addEventListener("click", async () => {
        const metadataSource = generateButtons[0].dataset.fileName;
        const metadataDest = generateButtons[1].dataset.fileName;

        spinner.style.display = "block";

        // Отправка метаданных на сервер
        const response = await fetch("/analyze", {
          method: "POST",
          headers: {
            "Content-Type": "application/json", // Указываем, что данные в формате JSON
          },
          body: JSON.stringify({
            filename_source: metadataSource,
            filename_dest: metadataDest,
          }),
        });

        spinner.style.display = "none";

        if (response.ok) {
          const result = await response.json();
          if (result.discrepancies) {
            discrepancies = result.discrepancies;
            showDiscrepancies();
            showNotification("Обнаружены несоответствия!");
            discrepanciesContent.innerHTML = `<h2 class="text-xl font-semibold text-center">Обнаруженные несоответствия в кадрах:</h2>`;

            discrepancies.forEach((discrepanciesData) => {
              console.log(discrepanciesData);

              const originalObjects =
                discrepanciesData.original_detected_objects
                  .map(
                    (obj) =>
                      `[${obj.object_id}] Уверенность: ${obj.confidence.toFixed(
                        2
                      )}`
                  )
                  .join(", ");

              const newObjects = discrepanciesData.new_detected_objects
                .map(
                  (obj) =>
                    `[${obj.object_id}] Уверенность: ${obj.confidence.toFixed(
                      2
                    )}`
                )
                .join(", ");

              itemHTML = `
                  <div class="metadata-item mb-4 p-4 rounded-lg shadow-lg border border-sky-500">
                    <div class="flex flex-row items-center gap-4 mb-2">
                      <h3 class="text-md font-semibold">Кадр ${
                        discrepanciesData.frame
                      }:</h3>
                      <button class="object-button bg-gray-600 text-white py-2 px-4 rounded-md hover:bg-gray-700" data-object-id="${
                        discrepanciesData.frame
                      }">
                        Перейти
                      </button>
                    </div>
                    <div class="text-gray-500 text-xs mt-2">
                      <p>Объекты в оригинале: ${originalObjects}</p>
                      <p>Обнаруженные новые объекты: ${newObjects}</p>
                      <p>MSE: ${discrepanciesData.error_mse.toFixed(2)}</p>
                    </div>
                  </div>
                `;
              discrepanciesContent.insertAdjacentHTML("beforeend", itemHTML);
            });

            const discrepanciesPath = result.discrepancies_path;
            discrepanciesContent.insertAdjacentHTML(
              "beforeend",
              `<div class="mt-4">
                  <a href="${discrepanciesPath}" class="text-blue-500 hover:underline">
                    Скачать файл с несоответствиями
                  </a>
              </div>`
            );

            document.querySelectorAll(".object-button").forEach((button) => {
              button.addEventListener("click", (event) => {
                const objectId =
                  event.currentTarget.getAttribute("data-object-id");
                videoPlayers.forEach((videoPlayer, index) => {
                  const timeInSeconds = objectId / metadata[0][0].fps;
                  videoPlayer.currentTime = timeInSeconds;
                  videoPlayer.play();
                });
              });
            });
            analyzeButton.classList.add("hidden");
          } else {
            showNotification(result.message);
          }
        } else {
          showNotification("Ошибка анализа метаданных. Попробуйте снова.");
        }
      });

      const showNotification = (message) => {
        notification.innerText = message;
        notification.style.opacity = 1;

        setTimeout(() => {
          notification.style.opacity = 0;
        }, 3000);
      };

      generateButtons.forEach((button, index) => {
        button.addEventListener("click", async () => {
          const fileName = button.dataset.fileName; // получаем имя файла из data-атрибута
          spinner.style.display = "block";
          const response = await fetch(`/generate_metadata/${fileName}`, {
            method: "POST",
          });
          spinner.style.display = "none";
          if (response.ok) {
            const data = await response.json();
            metadataContainers[index].classList.remove("hidden");
            metadata[index] = data.metadata;
            metadataDownloads[index].href = data.metadata_path;
            metadataDownloads[index].classList.remove("hidden");
            metadataLoadedStatus[index] = true;
            checkBothVideosUploaded();
            showNotification("Метаданные успешно сгенерированы!");
          } else {
            console.error("Ошибка при генерации метаданных.");
          }
        });
      });

      loadExistingButtons.forEach((button, index) => {
        button.addEventListener("click", async () => {
          const fileName = button.dataset.fileName; // получаем имя файла из data-атрибута
          spinner.style.display = "block";
          const response = await fetch(`/load_metadata/${fileName}`);
          spinner.style.display = "none";
          if (response.ok) {
            const data = await response.json();
            metadataContainers[index].classList.remove("hidden");
            metadata[index] = data.metadata;
            metadataDownloads[index].href = data.metadata_path;
            metadataDownloads[index].classList.remove("hidden");
            metadataLoadedStatus[index] = true;
            checkBothVideosUploaded();
            showNotification("Существующие метаданные успешно загружены!");
          } else {
            console.error("Ошибка при загрузке существующих метаданных.");
          }
        });
      });

      videoPlayers.forEach((videoPlayer, index) => {
        videoPlayer.addEventListener("timeupdate", () => {
          if (metadata[index]) {
            const currentFrame = Math.floor(
              videoPlayer.currentTime * metadata[index][0].fps
            );
            const frameData = metadata[index].find(
              (data) => data.frame === currentFrame
            );

            if (frameData) {
              const itemHTML = `
                    <div class="metadata-item mb-4">
                        <h3 class="text-md font-semibold">Кадр ${
                          frameData.frame
                        }</h3>
                        <p>Статус движения: ${frameData.movement_status}</p>
                        <p>Обнаруженные объекты: ${frameData.detected_objects
                          .map(
                            (obj) =>
                              `[${obj.object_id}] ${
                                obj.object_name
                              } (Уверенность: ${obj.confidence.toFixed(2)})`
                          )
                          .join(", ")}</p>
                    </div>
                `;
              metadataContents[index].innerHTML = itemHTML; // Отображаем метаданные в соответствующем элементе
            }
          }
        });
      });
    </script>
  </body>
</html>
